<div class="view-port">
    <div class="container">
        <div class="title">Folder Structure</div><br>
        <div class="content">

            <button mat-raised-button (click)="addRootFolder()">Add Folder to Root</button>&nbsp;

            <div *ngIf="showForm">
                <form [formGroup]="folderDetailsForm">

                    <mat-form-field class="example-full-width">
                        <input matInput #itemValue name="name" type="folder" formControlName="name">
                        <mat-error *ngIf="folderDetailsForm.get('name')?.hasError('required')">
                            Name is <strong>required</strong>...
                        </mat-error>
                    </mat-form-field>&nbsp;

                    <button mat-raised-button (click)="addData()">
                        <mat-icon>add</mat-icon>
                    </button>&nbsp;

                </form>
            </div>
            <ul>
                <ng-template #recursiveList let-inputFolder>
                    <div *ngFor="let item of inputFolder; let i = index;"
                        style="margin-left:30px; margin-bottom: 10px;">
                        <mat-icon>{{ item.type }}</mat-icon>&nbsp;
                        {{item.name}}&nbsp;

                        <mat-icon (click)="removeFolder(i, inputFolder)" style="margin-top: 5px;">delete</mat-icon>
                        &nbsp;

                        <a *ngIf="item.type === 'folder'">

                            <mat-icon (click)="addSubFolder(item)">add</mat-icon>

                            <div *ngIf="item.showSubData">
                                <form [formGroup]="subFolderDetailsForm">

                                    <mat-form-field>
                                        <mat-label>Choose an option</mat-label>
                                        <mat-select formControlName="type">
                                            <mat-option value="folder">Folder</mat-option>
                                            <mat-option value="insert_drive_file">file</mat-option>
                                        </mat-select>
                                    </mat-form-field>&nbsp;

                                    <mat-form-field class="example-full-width">
                                        <input matInput #itemValue name="name" type="text" formControlName="name">
                                        <mat-error *ngIf="subFolderDetailsForm.get('name')?.hasError('required')">
                                            Name is <strong>required</strong>...
                                        </mat-error>
                                    </mat-form-field>&nbsp;

                                    <button mat-raised-button (click)="addSubData(item)">
                                        <mat-icon>add</mat-icon>
                                    </button>&nbsp;

                                </form>
                            </div>

                        </a>

                        <ul *ngIf="item.children?.length > 0" style="margin-bottom: 5px;">
                            <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item.children }">
                            </ng-container>
                        </ul>
                    </div>
                </ng-template>
                <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: inputFolder }"></ng-container>
            </ul>
            <textarea>{{ inputFolder | json }}</textarea>
        </div>
    </div>
</div>